/* Possible animation values  */
/*
animation-delay: 1s;
animation-direction: forwards;
animation-duration: 4s; required to have animation run 
animation-fill-mode: forwards; Specifies where animation will end up
animation-iteration-count: infinite; or less than
animation-name: required;
animation-play-state: specifies whether animation is playing or paused 
animation-timing-function: linear; defines speed at which animation plays out
*/
.animations-main-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.animations-child-container {
    display: flex;
    justify-content: space-between;
}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
}

.animated-square {
    animation-name: spin;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 

.slide {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: yellow;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes slide {
    from {
        right: 0px;
    }
    to {
        right: 100px;
    }
}

.change-color {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: change-color;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-fill-mode: both;
}

@keyframes change-color {
    from {
        background-color: green;
    }
    to {
        background-color: black;
    }
    /* Two different ways of doing keyframs. from - to */
    /* 0% {
        background-color: green;
    }
    50% {
        background-color: grey;
    }
    100% {
        background-color: black;
    } */
}